<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d %p [%C{1}] %m %ex%n</Pattern>
			</PatternLayout>
		</Console>
		<appender name="FILE" class="org.apache.log4j.FileAppender">

   <param name="file" value="/dev/shm/log.out"/>
   <param name="immediateFlush" value="true"/>
   <param name="threshold" value="debug"/>
   <param name="append" value="false"/>
   
  <PatternLayout>
				<Pattern>%d %p [%C{1}] %m %ex%n</Pattern>
			</PatternLayout>
</appender>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="STDOUT" level="TRACE" />
		</Root>
	</Loggers>
</Configuration>